/* Background image */
html { 
  background: url(https://res.cloudinary.com/da3z5stec/image/upload/v1599126484/Sql%20Library%20Manager/olia-gozha-J4kK8b9Fgj8-unsplash_wwprj9.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  padding: 20px 50px 50px;
  font: 18px "Garamond", serif;
}

pre {
  overflow: auto; }


a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: black;
  }

a.button, input[type=submit] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
}

form a.button, a.cancel, input[type=submit] {
  margin-left: 140px;
  margin-bottom: 10px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #01b189;
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}


table {
  margin-top: 20px;
  width: 100%;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

input[type=submit].search-submit {
  margin-left: 10px;
  margin-bottom: 0px;
}

.errors {
  color: rgb(236, 15, 15);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-top: 2px solid #e7e7e7;
}
.main-nav form {
  display: flex;
  align-items: flex-end;
}
.nav {
  display: flex;
  flex-flow: column;
}

ul.pagination {
  display: flex;
  justify-content: center;
}

ul a.selected {
  background-color: slategrey;
}

.form-line {
  margin-bottom: 10px;
}

.form-delete {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

a.header {
  display: flex;
  align-items: flex-end;
}

a.header img {
  width: 100px;
}

a.header h1 {
  margin-left: 10px;
  color: black;
}